body{
  background:rgb(243, 228, 228);
  text-align:center;
}
.block_1{
  width:1050px;
  height:300px;
  overflow:hidden;
  position:relative;
  margin-left:150px;
  background:url(https://coderistu.ru/wp-includes/images/pumpkin.jpg);
  background-size:cover
}
.block_2{
  position:absolute; 
  visibility:hidden;
  left:1px;
  background:rgba(0, 0, 0, 0.4392156862745098);
  font-size:20px;
  color: white;
  width: 1050px;
  height: 300px;
  top:160px
}
.block_2 p {
  padding: 110px 0px;
  text-align: center;}
.block_1:hover .block_2{
  visibility:visible;
  transition:1s;
  -webkit-transition:1s;
  transform:translatey(-160px);
  -webkit-transform:translatey(-160px)
}
.block_1:hover{
  filter:sepia(50%);
  -webkit-filter:sepia(60%);
  transition:0.6s;
  -webkit-transition:0.6s;
}