.photo {
  width: 90%;
  border-radius: 5px;
  margin: 20px auto;
  background-image: url("../../../../public/9A1C70F6-2201-4B42-8E81-8D520912405E_1_105_c.jpeg");
  background-position: center;
  background-size: cover;
  aspect-ratio: 4/3;
}
