.list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.item {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.link {
    font-weight: 600;
    color: var(--accent-color);
    margin-right: var(--spacing-sm);
}

.techStack {
    color: var(--secondary-color);
    font-size: 0.9rem;
    font-family: monospace;
}